
table {
    font-family: 'Exo 2', sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

th {
    background-color: #7752FE;
    color: #fff;
    padding: 1rem;
    font-size: 1rem;
}

th, td {
    padding: 1rem;
    font-size: 1rem;
}

tbody {
    background-color: #fff;
    color: black;

}

@media screen and (max-width: 600px) {
    thead {
        display: none;
    }

    td {
        display: block;
        padding: 1rem;
        font-size: 1rem;
        text-align: left;
    }

    td:first-child {
        background-color: #7752FE;
        color: #fff;
        text-align: center;
    }

    td:nth-child(2)::before {
        content: "Date opération";
    }

    td:nth-child(3)::before {
        content: "Date valeur";
    }

    td:nth-child(4)::before {
        content: "Libellé";
    }

    td:nth-child(5)::before {
        content: "Ref";
    }

    td:nth-child(6)::before {
        content: "Crédit";
    }

    td:nth-child(7)::before {
        content: "Débit";
    }
    td:nth-child(8)::before {
      content: "Catégorie 1";
  }
  td:nth-child(9)::before {
    content: "Catégorie 2";
}
td:nth-child(10)::before {
  content: "Catégorie 3";
}

    td {
        text-align: right;
    }

    td::before {
        float: left;
        margin-right: 1rem;
        font-weight: bold;
    }
}


input[type="file"] {
    padding: 4px;
    margin: -4px;
    position: relative;
    outline: none;
  
    /* File Selector Button Styles */
    &::file-selector-button {
      border-radius: 4px;
      padding: 0 16px;
      height: 40px;
      cursor: pointer;
      background-color: white;
      border: 1px solid rgba(#000, 0.16);
      box-shadow: 0px 1px 0px rgba(#000, 0.05);
      margin-right: 16px;
      color: #7752FE;
      /*
        This is a hack to change the button label. 
        I'm hiding the default label and then 
        manually applying the width based on 
        updated icon and label.
      */
      width: 132px;
      
      /*
        Firefox doesn't support the pseudo ::before 
        or ::after elements on this input field so 
        we need to use the @supports rule to enable 
        default styles fallback for Firefox.
      */
      @supports (-moz-appearance: none) {
        color: var(--primary-color);
      }
  
      &:hover {
        background-color: #f3f4f6;
      }
  
      &:active {
        background-color: #e5e7eb;
      }
    }
  
    /* Faked label styles and icon */
    &::before {
      position: absolute;
      pointer-events: none;
      top: 14px;
      left: 16px;
      height: 20px;
      width: 20px;
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
    }
    
    &::after {
      position: absolute;
      pointer-events: none;
      top: 16px;
      left: 40px;
      color: var(--primary-color);
      content: "Upload File";
    }
  
    /* Handle Component Focus */
    &:focus-within::file-selector-button,
    &:focus::file-selector-button {
      outline: 2px solid var(--primary-color);
      outline-offset: 2px;
    }
  }

  .cardImport {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: auto;
}




